.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 4fr repeat(2, 3fr);
    grid-column-gap: 0px;
    grid-row-gap: 3px;
    }
    // img principales
    .gorra-hombre{
        width: 700px;
        height:600px ;
    }
    .gorra-new-era{
        width:630px ;
        height: 600px;
    }
    .gorra-celeste{
        width: 550px;
        height:600px ;
    }

    .titulo-destacado{
        font-family:'PT Serif', serif;
        border: 4px solid cornflowerblue;
         border-radius: 5px;
         background-color: map-get($social , $tittle );
         text-align: center;

         }
    // fin de las img principales

    .broche1{
        @extend %medidas-products;
        
    }
    .lentes-sol{
        @extend %medidas-products;
    }
    .aritos1{
        @extend %medidas-products;
    }
    .aritos2{
        @extend %medidas-products;
    }
    .joyeria1{
        @extend %medidas-products;
    }
    .lentes-sol1{
        @extend %medidas-products;
    }
    .reloj-oro{
        @extend %medidas-products;
    }
    .reloj3{
        @extend %medidas-products;
    }
    .tobillera1{
        @extend %medidas-products;
    }

    