/* hover */
       
.home1:hover{
    cursor: pointer;
   }
   .broche1:hover{
    @extend %zoom-hover;
   }
   .hombre1:hover{
    @extend %zoom-hover;
   }
   .hombre2:hover{
    @extend %zoom-hover;
   }
   .hombre3:hover{
    @extend %zoom-hover;
   }
   .hombre4:hover{
    @extend %zoom-hover;
   }
   .hombre5:hover{
    @extend %zoom-hover;
   }
   .hombre6:hover{
    @extend %zoom-hover;
   }
   .hombre7:hover{
    @extend %zoom-hover;
   }
   .imagen45:hover{
    @extend %zoom-hover;
   }
.destacado1:hover{
    @extend %zoom-hover;
}   
.destacado2:hover{
    @extend %zoom-hover;
}
.destacado3:hover{
    @extend %zoom-hover;
}
p::first-letter{
    text-transform: uppercase;
}

.destacado5:hover{
    @extend %zoom-hover;
}
.destacado6:hover{
    transform: scale(2);
    transition: all 1s;
}

    .destacado7:hover{
       @extend %zoom-hover;
    }
    .destacado8:hover{
        @extend %zoom-hover;
    }
    .buzo1:hover{
        @extend %zoom-hover;
    }
    .chaqueta-niño:hover{
        @extend %zoom-hover;
    }
    .polar:hover{
        @extend %zoom-hover;
    }
    .remera-azul:hover{
        @extend %zoom-hover;
    }
    .remera-pantalon:hover{
        @extend %zoom-hover;
    }
    .remera-tiburon:hover{
        @extend %zoom-hover;
    }
    .short:hover{
        @extend %zoom-hover;
    }
    .lentes-sol:hover{
        @extend %zoom-hover;
    }
    
    .aritos1:hover{
        @extend %zoom-hover;
    }
    .aritos2:hover{
        @extend %zoom-hover;
    }
    .joyeria1:hover{
        @extend %zoom-hover;
    }
    .lentes-sol1:hover{
        @extend %zoom-hover;
    }
    .reloj-oro:hover{
        @extend %zoom-hover;
    }
    .reloj3:hover{
        @extend %zoom-hover;
    }
    .tobillera1:hover{
        @extend %zoom-hover;
    }
    .buzo-negro:hover{
        @extend %zoom-hover;
    }
    .jean-mujer1:hover{
        @extend %zoom-hover;
    }
    .remera-mujer1:hover{
        @extend %zoom-hover;
    }
    .remera-mujer2:hover{
        @extend %zoom-hover;
    }
    .buzo-mariposa:hover{
        @extend %zoom-hover;
    }
    .chaqueta-nike:hover{
        @extend %zoom-hover;
    }
    .pantalon-marron:hover{   
        @extend %zoom-hover;
     }
     .zara:hover{
        transform: scale(1.2);
        transition: all 1s;
     }
     .titulo-zara:hover{
        transform: scale(1.2);
     }
     .chaqueta-zara:hover{
        transform: scale(1.2);
     }
     .aut4:hover{
        transform: scale(1.1);
     }
     .autfit1:hover{
        transform: scale(1.1);
     }
     .zara-mujer:hover{
        transform: scale(1.1);
     }
     .buzo-zara-niños:hover{
        transform: scale(1.1);
     }
     .titulo-zara-niños:hover{
        transform: scale(1.1);
     }
     .buzos-zara-sub:hover{
        transform: scale(1.1);
     }
    .buzos-zara-sub1:hover{
        transform: scale(1.1);
    }
    .prendas-niños-zara:hover{
        transform: scale(1.1);
    }
    .bape-pricipal1:hover{
        transform: scale(1.1);
    }
    .titulo-bape:hover{
        transform: scale(1.2);
    }