/* mobile */
@media only screen and (max-width: 480px) {


   
   .mobile-1{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);

   }
   .mobile-2{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
   }
   .mobile-3{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
   }
   .imgp{
    text-align: center;
    font-family: lato;
    margin: 50px 0px;
   }
   
   
   .autfit1{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
   }
   .aut4{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
   }
   .aut3{
    height: 900px;
    width: 640px;
    width: 100%;
border-radius: 15px;
box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
   }
   .aut1{
    width: 100%;
border-radius: 15px;
box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
   }
   .aut2{
    width: 100%;
border-radius: 15px;
box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
   }
   .gucci{
    width: 100%;
border-radius: 15px;
box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
   }
   .gorra-hombre{
    width: 100%;
border-radius: 15px;
box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
   }
   .gorra-new-era{
    width: 100%;
border-radius: 15px;
box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
   }
   .gorra-celeste{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
   }
   .chaqueta-zara{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    margin-bottom: 20px;
            transition: 0.5s;
            object-fit:cover ;
   }
   .zara{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    margin-bottom: 30px;
    margin-top: 30px;
            transition: 0.5s;
            object-fit:cover ;
   }
   .zara-mujer{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    margin-bottom: 20px;
            transition: 0.5s;
            object-fit:cover ;
            width: 300px;
             height: 500px;
   }
   .buzo-zara-niños{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    padding-top: 20px;
    margin-bottom: 20px;
            transition: 0.5s;
            object-fit:cover ;
   }
   .buzos-zara-sub{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px (15, 15, 15, .5);
    margin-bottom: 20px;
            transition: 0.5s;
            object-fit:cover ;
   }
   .buzos-zara-sub1{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px (15, 15, 15, .5);
    margin-top: 70px;
            margin-bottom: 20px;
            transition: 0.5s;
            object-fit:cover ;
   }
   .prendas-niños-zara{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px (15, 15, 15, .5);
    padding-top: 20px;
    object-fit:cover ;
     margin-top: 70px;
     margin-bottom: 20px;
     transition: 0.5s;
     width: 400px;
     height: 250px;
   }
   .bape-pricipal1{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
    margin-bottom: 20px;
            transition: 0.5s;
            object-fit:cover ;
   }
   

   }
   